name: Bot BDR Diário

on:
  schedule:
    - cron: '30 13 * * 1-5' # Roda Seg a Sex às 13:30 UTC (10:30 BRT)
  workflow_dispatch:

jobs:
  executar-robo:
    runs-on: ubuntu-latest
    
    steps:
      - name: Baixar Código (Checkout)
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' # Atualizado para suportar yfinance novo

      - name: Instalar Dependências
        run: |
          python -m pip install --upgrade pip
          pip install pandas yfinance requests pytz

      - name: Rodar Análise e Enviar WhatsApp
        env:
          WHATSAPP_PHONE: ${{ secrets.WHATSAPP_PHONE }}
          WHATSAPP_APIKEY: ${{ secrets.WHATSAPP_APIKEY }}
          BRAPI_API_TOKEN: ${{ secrets.BRAPI_API_TOKEN }}
        run: python bot.py
